
body{
margin: 0;
background-color: #EAEAEA;
color : #175D85;
font-family : verdana;
text-align: center;
}

input{
border : 10px;
border-radius : 5px;
}

.top-page{
margin-top : 5vh;
width : 100%;
height : 10vh;
display : flex;
justify-content: center;
align-items : center;
flex-direction : column;
}

.form{
width : 40%;
height : 50vh;
margin-top: 10vh;
border : 5px solid;
background-color: #DDDDDD;
display: inline-block;
text-align : left;
justify-content : space-between;
}

.form-input{
width: 100%;
height : 20px;
margin-top : 5%;
margin-left : 5%;
}